mixin banner(src, title, content)
  - if (typeof(src) === 'undefined') src = 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/magazine-bg.jpeg'
  - if (typeof(title) === 'undefined') title = 'FOOD FOCUS ROADMAP'
  - if (typeof(content) === 'undefined') content = 'อริยสงฆ์ทรู สะบึม น็อคฮัลโลวีนโพลล์ไวอากร้ามาราธอน โฮมเมจิกคอนโด เปปเปอร์มินต์ คลิปผ้าห่มไนท์อีโรติก พลาซ่า อึมครึมทาวน์เฮาส์สัมนา จตุคามธุรกรรมโอเพ่น ม้าหินอ่อนความหมายตรวจทาน แรงใจฮิปโปผู้นำ ไคลแม็กซ์กุมภาพันธ์บอยคอตรีโมต โหงวเฮ้งเอ็นทรานซ์ สกรัมตุ๊ดเช็กจิ๊กซาดิสต์ เพียบแปร้แคมป์กราวนด์ลิมูซีน มอนสเตอร์'
    section.item.medium
      .thumb(style="background-image: url("+src+");")
      .caption
        .inner-container
          .middle-block
            h2.intro.txt-white #{title}
            p.content.txt-white #{content}

mixin banner-book-image(src, book, subtitle, title, content, issue)
  - if (typeof(src) === 'undefined') src = 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/magazine-bg.jpeg'
  - if (typeof(book) === 'undefined') book = 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/book-1.jpg'
  - if (typeof(title) === 'undefined') title = 'Home Improvement Is That Easy'
  - if (typeof(content) === 'undefined') content = 'Whether you want a major home renovation or a small one. At SCB, we offer financing options to meet your needs.'
    section.item
      .thumb(style="background-image: url("+src+");")
      .caption
        .inner-container
          .middle-block
            .book-img
              +link-img(book,'')
            .desc
              h3.sub-title.sub-title-bg.txt-white #{subtitle}
              h2.intro.txt-white.mar-top #{title}
              p.content.txt-white.mar-top-xs #{content}
              .latest-issue
                .latest-issue-color.mar-top
                .latest-issue-content.mar-top
                  p.sub-title.txt-white LATEST ISSUE
                  p.sub-title-2.txt-white #{issue}
              div.mar-top
                form.subscribe-form
                  input(type="email", placeholder="Email", name="emailInput").form-control 
                  .subscribe
                    a.txt-mediumer.subscribe-btn SUBSCRIBE TO NEWSLETTER

mixin story(src, title, content,href)
  - if (typeof(src) === 'undefined') src = 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/photo-md-15.jpg'
  - if (typeof(title) === 'undefined') title = 'Opportunities In Volatile Markets'
  - if (typeof(content) === 'undefined') content = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempo.'
    +link(title, href).story
      .thumb(style="background-image: url("+src+");")
      .caption
        .desc
          - if (typeof(title) !== 'undefined')
            h2.title-1-thumb #{title}
          p.text-mediumer-thumb #{content}

mixin product(src, title, href)
  - if (typeof(src) === 'undefined') src = 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/thumb-1.jpg'
  - if (typeof(title) === 'undefined') title = 'Your Personal Needs'
    +link(title,href).product.thumb-default
      figure
        .thumb(style="background-image: url("+src+")")
      figcaption
        h3.title-3-thumb.txt-black #{title}

mixin product-2(card, title)
  - if (typeof(card) === 'undefined') card = 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/thumb-4.jpg'
  - if (typeof(title) === 'undefined') title = 'Your Personal Needs'
    +link().product.thumb-default.magazine&attributes(attributes)
      figure
        +img(card).book-image
        .thumb(style="background-color: #ededed;")
      figcaption
        .inner
          h3.title-1-thumb.txt-black #{title}

mixin book(src, title, date, href)
  - if (typeof(src) === 'undefined') src = 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/thumb-1.jpg'
  - if (typeof(title) === 'undefined') title = 'NO. 123'
  - if (typeof(date) === 'undefined') date = 'OCTOBER 2017'
    article.book
      +link-img(src,'',href)
      .caption
        h2.title-1-thumb #{title}
        h2.title-1-thumb #{date}
          
mixin roadmap(src, title, date, href)
  - if (typeof(src) === 'undefined') src = 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/thumb-1.jpg'
  - if (typeof(title) === 'undefined') title = 'DRINKING EDITION'
  - if (typeof(date) === 'undefined') date = '10 NOVEMBER 2017'
  - if (typeof(href) === 'undefined') href = 'roadmap-detail.html'
    article.roadmap
      +link('',href).image(style="background-image: url("+src+");")
      .caption
        h2.title-1-thumb #{title}
        h2.title-1-thumb #{date}

mixin profile(src, fullname, text1, text2, text3)
  - if (typeof(src) === 'undefined') src = 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/thumb-1.jpg'
  - if (typeof(fullname) === 'undefined') fullname = 'VISIT LIMPRANA'
  - if (typeof(text1) === 'undefined') text1 = 'HONORARY ADVISOR'
  - if (typeof(text2) === 'undefined') text2 = 'FOOD PROCESSING INDUSTRY CLUB'
  - if (typeof(text3) === 'undefined') text3 = ''
    .profile
      .thumb(style="background-image:url("+src+")")
      .profile-detail
        .detail-group
          h2.text-medium #{fullname}
          p.text-x-small #{text1}
          p.text-x-small #{text2}
          p.text-x-small #{text3}

mixin event(date, month, title, address, website)
  - if (typeof(date) === 'undefined') date = '10'
  - if (typeof(month) === 'undefined') month = 'Mar'
  - if (typeof(title) === 'undefined') title = 'title'
  - if (typeof(title) === 'undefined') title = 'address'
  - if (typeof(title) === 'undefined') title = 'website'
    +link().event
      .event-date
        h2.title.txt-black #{date}
        p.text-medium.txt-black #{month}
      .event-group
        p
          p.text-large.txt-black #{title}
          p.text-mediumer.txt-black #{address}
          p.text-medium.txt-black #{website}

          
